/bootstrap/compiled.php
/vendor
/logs
/public/uploads
/logs/*.log
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/storage/logs/*.log
/.idea
/app/config/local/*
/app/config/monero/*
/_ide_helper.php
/node_modules