/* Main Elements */

/** {*/
    /*transition: all 0.2s linear;*/
/*}*/

body {
	padding-top: 0;
}

.panel-body {
	padding: 9px 15px 0px 15px;
}

.panel {
	margin-bottom: 5px;
}

.post {
	padding: 0;
}

.post-buttons {
	margin-top: 20px;
}

.mobile-meta-buttons {
	padding-bottom: 5px;
}

.post-indent {
	padding-left: 10px;
}

.post-reply-form, .post-edit-form {
	margin-top: 20px;
}

.drawer {
	padding: 0;
}

.trunk {
	padding: 0;
}

li.user-details {
	overflow-wrap: break-word;
}

/* Helpers */

.reply-bullet {
	margin-left: 4px;
}

.white-glyph {
	color: white;
}

.reply-to {
	font-size: 14px;
}

.post-crumb {
	font-size: 14px;
}

.thread .pagination {
	float: right;
}

.replies-list {
	margin: 3px 0;
}

.replies-list {
	background: #ffd781;
	border: 1px solid #e9c372;
	height: 47px;
}

.replies-list p {
	line-height: 45px;
	color: #505050;
	font-size: 14px;
	text-shadow: 0 1px #ffedc8;
}

.post-buttons {
	float: right;
}

.post-links {
	text-align: center;
}

.right-float {
	float: right;
}

.left-float {
	float: left;
}

.btn-right {
	margin-left: 5px;
}

/* Forum Blocks */

.user-block {
	color: #8e8e8e;
	font-size: 15px;
	line-height: 40px;
}

.search-bar {
	padding-bottom: 20px;
    text-align: right;
}

.search-text {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #e4e4e4;
    box-shadow: none;
}

.search-bar .col-lg-6 {
	padding: 0;
}

.user-block .action-link {
	font-size: 13px;
	color: #5b9a6f;
    font-weight: bold;
}

.user-block .action-link:hover {
	text-decoration: underline;
}

.user-block .name {
	color: #5b9a6f;
	font-weight: bold;
}

.category-block .panel-default,
.admin-panel .panel-default {
	border: none;
}

.category-block .panel-heading,
.admin-panel .panel-heading {
	background: #5b9a6f;
	color: white;
	text-shadow: 0 1px #2d6737;
	border-radius: 2px;
	border: none;
	line-height: 45px;
}

.category-block .panel-title,
.admin-panel .panel-title {
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
	text-transform: uppercase;
}

.category-block .panel-title .glyphicon,
.admin-panel .panel-title .glyphicon {
	color: white;
	padding-right: 10px;
	
}

.category-block .forum-info h4 a,
.admin-panel .forum-info h4 a {
	color: #828282;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	
}

.forum-block {
	border-bottom: 1px solid #f4f4f4;
	padding: 10px 0;
	height: 90px;
	overflow: hidden;
}

.forum-block .forum-icon-inactive {
	background-image: url('/images/icon_post_inactive.png');
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.forum-block .forum-icon-active {
	text-align: center;
	line-height: 100%;
	font-size: 36px;
	color: #5b9a6f;
	margin-top: 20px;
	margin-left: 15px;
}

.forum-block p {
	color: #898989;
	font-size: 12px;
}

.forum-block b {
	color: #898989;
}

.forum-block .forum-post {
	 display: table
}

.forum-block .forum-post p {
	padding: 5% 0;
}

.forum-block .forum-counts p {
	line-height: 17px;
	padding: 12% 0;
}

.post-meta {
	font-size: 14px;
}

.post-meta .poster-name {
	text-transform: none;
	color: white;
	padding-right: 10px;
}

.post-meta .post-date {
	font-size: 12px;
	color: #a5e1b8;
	text-transform: none;
	font-weight: normal;
}

.thread-block {
	border-bottom: none;
}

.button-block {
	padding: 0;
}

.reply-thread {
	background: #ff4f41 !important;
	font-size: 15px;
	text-shadow: 0 1px #ff1814 !important;
	color: white;
	border: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.reply-thread:hover {
	background: #ff6e62 !important;
}

.post-block {
    padding: 0 10px;
}

.post-nav {
	margin: 20px 0;
	padding: 0;
}

.post-panel {
	border: 1px solid #efefef;
}

.post-panel .panel-heading {
	border-bottom: 1px solid #efefef;
	border-radius: 1px;
	background: #fff;
	font-size: 14px;
	color: #888888;
}

.post-panel .panel-heading a,
.post-panel .panel-heading .date {
    color: #5b9a6f;
}

.post-panel .panel-heading a {
	font-weight: bold;
	padding-left: 10px;
}

.post-panel .panel-heading .date {
	padding-right: 10px;
}

.post-panel .panel-heading small {
	color: #797979;
	font-size: 12px;
}

.dark-green {
	color: #5b9a6f;
}

.post-panel .meta-buttons .btn {
	height: 21px;
	padding: 3 4px;
	font-size: 10px;
	margin-top: -3px;
	background: white;
	border: 1px solid #eaeaea;
	border-radius: 2px;
}

.meta-buttons a {
	padding-left: 2px !important;
}

.meta-buttons a:hover {
	text-decoration: none;
}

.replies-list b {
	display: none;
}

.content-control {
	display: none;
	cursor: hand;
}

.thread-controls {
	margin-bottom: 20px;
}

.thread-controls .glyphicon {
	color: #FFF;
	margin-right: 10px;
}

.post-breadcrumbs {
	margin-left: 0px;
}

/* Bootstrap Overrides */

.breadcrumb {
	text-transform: none !important;
}

code {
	padding: 3px;
	margin: 0 0 10.5px;
	font-size: 14px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #333333;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 0;
}

pre code {
    border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: none;
	border-bottom: 3px solid #5b9a6f;
	line-height: 25px;
	height: 42px;
	color: #848484;
}

.nav-tabs>li>a {
	background: none;
	color: #848484;
	margin: 0;
	border: none;
}

.nav-tabs {
	border: none;
	background: url('/images/nav-tab.png');
	background-repeat: repeat-x;
	background-position: left bottom;
}

.nav-tabs>li>a:hover {
	background: none;
	border: none;
	margin: 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #5b9a6f;
	font-weight: bold;
}

.btn-success {
	background-color: #5b9a6f;
	font-weight: bold;
	text-shadow: 0 1px #2d6737;
	border: none;
}

.btn {
	border-radius: 2px;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #5b9a6f;
	font-weight: bold;
}

.thread-list .thread-col {
	height: 60px;
	overflow: hidden;
	line-height: 60px;
}

.thread-list p {
	line-height: 60px;
	font-size: 12px;
	color: #898989;
	margin: 0;
}

.thread-list .thread-replies {
	text-align: right;
}

.thread-list b {
	color: #898989;
}

.create-thread {
	border-radius: 2px;
	background: #447f57;
	color: #fff;
    font-weight: 600 !important;
    padding: 4px 10px;
    margin-top: 0;
    text-shadow: none;
}

.create-thread .fa {
    padding-right: 10px;
}

.create-thread:hover {
	border-radius: 2px;
    background: #305F3F;
}

.thread-icon {
	background: url('/images/icon_thread.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.thread-title {
	color: #828282;
	font-size: 16px;
	font-weight: bold;
	line-height: 60px;
}

.thread-title:hover {
	color: #828282;
	font-size: 16px;
	font-weight: bold;
}

.btn-danger {
	background: #ff4f41;
	text-shadow: 0 1px #ff1814;
	font-weight: bold;
	border: none;
}

.btn-danger:hover {
	background: #ff6e62;
}

.post-breadcrumbs {
	color: #787878;
	font-size: 16px;
}

.post-breadcrumbs .glyphicon {
	font-size: 12px;
}

.post-breadcrumbs a {
	color: #5b9a6f;
}

.content-preview {
	padding: 15px;
}

.content-preview .preview-window {
	border: 1px solid #cccccc;
	padding: 20px;
}

.public-email {
	padding-right: 15px;
}

a.board-meta {
	color: #898989;
}

.profile-picture-sm {
	margin-right: 10px;
	height: 24px;
	width: 24px;
    border-radius: 4px;
}

a.meta-permalink {
	padding: 0 !important;
}

/* Reports */

.report-post {
	margin-bottom: 30px;
}

/* Mobile */

.mobile-create {
	display: none;
}

.mobile-post-meta {
	display: none;
}

.mobile-meta-buttons {
	display: none;
}

.mobile-meta-buttons .btn-xs {
	margin-top: 3px;
}

/* Media Queries */
@media (max-width: 992px) {
	.mobile-create {
		display: block;
		margin: 20px 0;
	} 
	
	.mobile-post-meta {
		display: block;
	}

	.post-meta {
		display: none;
	}
		
	.mobile-post-meta {
		font-size: 12px;
		text-align: left;
		margin: 20px 10px;
	}
	
	.mobile-post-meta a {
		font-weight: bold;
	}
	
	.normal-create {
		display: none;
	}
	
	.thread-icon {
		display: none;
	}
	
	.thread-list .thread-replies {
		text-align: left;
	}
	
	.thread-list p {
		line-height: 20px;
	}
	
	.thread-list .thread-title {
		line-height: 20px;
	}

	.forum-block .forum-icon-active, 
	.forum-block .forum-icon-inactive {
		display: none;
	}
	
	.thread-list .row {
		margin: 20px 0;
		padding: 0;
	}
	
	.thread-list {
		padding: 0;
	}
	
	.forum-block {
		border-bottom: 1px solid #f4f4f4;
		padding: 10px 0;
		min-height: 90px;
		height: auto;
		overflow: hidden;
	}
	
	.forum-block .forum-post p {
	padding: 0;
	}
	
	.forum-block .forum-counts p {
		line-height: 17px;
		padding: 0;
	}
	
	br {
		display: block;
	}
	
	.meta-buttons {
		display: none;
	}
	
	.mobile-hide-text {
		display: none;
	}
	
	.mobile-meta-buttons {
		display: block;
	}
	
	.post-indent {
		padding: 0;
	}
	
	.mobile-meta-buttons .btn-xs {
		background: white;
	}
	
	.replies-list {
		height: auto;
		overflow: auto;
		padding-bottom: 20px;
	}
	
	.replies-list p {
		line-height: normal;
		padding-top: 10px;
	}
	
	.replies-list .pull-right {
		float: none;
	}
	
	.mobile-drawer {
		margin-top: 5px;
	}
}

.user-block-mobile {
	display: none;
}

@media (max-width: 380px) {
	.user-block-mobile {
		display: block;
	}
	.user-block-mobile-disable {
		display: none;
	}
	
	.form-style {
		width: 100%;
		min-width: inherit;
	}
}

/* Post Odd */

.odd .post-panel .panel-heading {
    background: #f1f3f4;
}

.post-unread-odd, .post-unread {
	border: 1px solid #ffcb05;
}

.forum-read {
    color: #828282 !important;
}

/* Markdown Fixes */

.markdown-responsive {
	max-width:100% !important;
    height:auto;
    display:block;
}

.mark-read {
	margin-right: 10px;
}

.markdown-buttons-main {
    margin: 10px 0;
}

p.syntax {
    margin: 10px 0;
}

.panel-body p {
    color: #505050;
}

.search-bar {
    margin-top: 2px;
    padding: 0;
}
.search-bar .col-lg-12,
.search-bar-mobile .col-lg-12 {
    padding: 0;
}

.search-bar-mobile {
    display:none;
    padding: 0;
}

.btn .glyphicon,
.btn .fa {
    color: white;
}

.operations .btn {
    margin: 0 0 10px 5px;
}

.btn-search {
    margin-top: 0;
}

.conversation-row {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.messages {
    margin-top: 15px;
}

.envelope-green {
    color: #5b9a6f;
}

.sub-item {
    margin-bottom: 10px;
}

.bs-green {
    color: #5b9a6f;
}

.btn-default .glyphicon {
	color: #787878 !important;	
}

.expand-label {
    font-weight: bold;
    font-style: italic;
    padding: 10px 20px;
    cursor: pointer;
}

.expand-label .fa {
    padding-right: 10px;
}

.fa-white {
    color: white;
}

.funding-icon {
    display: inline-block;
    float: left;
    padding-right: 10px;
    font-size: 12px;
    padding-left: 10px;
}

.forum-progress {
    height: 10px;
}

.progress-monero {
    background: #6b0072;
}

.funding-info-box {
    padding-left:30px;
}

.funding-block {
    text-align: center;
    padding-top: 50px;
}

.funding-block h3 {
    font-size:35px;
}

.funding-block p {
    text-transform: uppercase;
    font-size:18px;
}

.the-bar {
    font-size:18px;
    padding-top: 50px;
}

/* Markdown Editor */

.md-editor {
    margin-bottom: 15px;
}

.md-preview {
    padding: 15px;
}

.md-input {
    padding: 10px !important;
}

.md-header .fa-search {
    color: #FFF;
}

.md-editor.md-fullscreen-mode .fa-search {
    color: #b3b3b3;
}

.md-editor.md-fullscreen-mode .btn {
    text-shadow: none;
}

.md-editor.md-fullscreen-mode .btn:hover .fa-search,
.md-editor.md-fullscreen-mode .active .fa-search
{
    color: #333 !important;
}

.md-header {
    padding-top: 0 !important;
}

.post-reply-form {
    padding-bottom: 10px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    line-height: 1.286;
    margin-top: 1.286em;
    margin-bottom: 1.286em;
}

.post-block p,
.content-block p{
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.no-js {
    display: none;
}

.fa-btn {
    cursor: pointer;
}

.main-content, li, p {
    color: #505050;
}

.btn-info .fa {
    color: white;
}

.category-block .panel-heading .fa {
    color: #fff;
}

.message-list {
    border-bottom: 1px solid #f4f4f4;
}

.form-group.search-location {
    padding: 0 20px;
}

.md-header .btn-default .fa {
    color: #222222;
}

.md-editor {
    border-radius: 3px;
}

.footer .footer-links {
    color: #fff;
    display: inline-block;
}

.footer .footer-links a {
    color: #5b9a6f;
    font-weight: bold;
}

.footer-links ul li {
    display: inline;
    margin-right: 30px;
}

.footer-links ul li .fa {
    color: #fff;
}

.footer-icon .fa {
    color: #ffe00a;
}

.breadcrumb {
    background-color: #fff;
}

.breadcrumb a,
.well-notification a,
.well-notification .fa,
.well-subscription .fa,
.well-subscription a{
    color: #5b9a6f;
}

.btn-xs {
    font-weight: normal;
}

.well-notification,
.well-subscription {
    border: none;
    box-shadow: none;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
}

.btn-unsub {
    color: #222222 !important;
}

a.btn:hover {
    text-shadow: none;
}

@media (max-width: 768px) {

    .search-bar .form-group {
        display: inline-block;
    }

    .btn-search {
        width: 100%;
    }

    .mobile-hidden {
        display: none;
    }
}

@media (max-width: 991px) {
    .search-bar {
        text-align: left;
    }
}